	
	body {
	background-image: url("00_background.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	
	/**background-origin:padding-box;
	**/
	}

	#img4 img {
		
		position:absolute;
	    left:312px;
	    top:174px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	    
	}


	#img5 img{
		position:absolute;
	    left:340px;
	    top:117px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	    
	}
	
	#img6 img{
		
		position:absolute;
	    left:573px;
	    top:180px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	    
	}
	
	#img7 img{
		
		position:absolute;
	    left:633px;
	    top:190px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	    
	}
	
	#img10 img{
		
		position:absolute;
	    left:138px;
	    top:175px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img11 img{
		
		position:absolute;
	    left:264px;
	    top:84px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img12 img{
		
		position:absolute;
	    left:453px;
	    top:94px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img13 img{
		
		position:absolute;
	    left:708px;
	    top:168px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img15 img{

		position:absolute;
	    left:66px;
	    top:67px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img16 img{
		
		position:absolute;
	    left:195px;
	    top:45px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img17 img{
		
		position:absolute;
	    left:351px;
	    top:28px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img18 img{
		
		position:absolute;
	    left:502px;
	    top:15px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img19 img{
		
		position:absolute;
	    left:667px;
	    top:64px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img20 img{
		
		position:absolute;
	    left:802px;
	    top:57px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img21 img{
		
		position:absolute;
	    left:886px;
	    top:54px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img24 img{
		margin: 0px;
		
		position:absolute;
	    left:703px;
	    top:513px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img26 img{
		
		position:absolute;
	    left:201px;
	    top:507px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img27 img{
		
		position:absolute;
	    left:111px;
	    top:534px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img28 img{
		
		position:absolute;
	    left:18px;
	    top:621px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img29 img{
		
		position:absolute;
	    left:453px;
	    top:717px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img33 img{
		
		position:absolute;
	    left:289px;
	    top:237px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img34 img{
		
		position:absolute;
	    left:603px;
	    top:426px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img35 img{
		
		position:absolute;
	    left:688px;
	    top:400px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img36 img{
		
		position:absolute;
	    left:740px;
	    top:400px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	
	#img37 img{
		
		position:absolute;
	    left:160px;
	    top:655px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
		
	}
	
	
	#img38 img{
		
		position:absolute;
	    left:242px;
	    top:816px;
		-moz-transition:all 1s;
		-webkit-transition:all 1s;
		-o-transition:all 1s;
		transition:all 1s;
	}
	
	#img4 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}

	#img5 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img6 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img7 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img10 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img11 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img12 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img13 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img15 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img16 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img17 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img18 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img19 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img20 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img21 img:hover {
		-moz-transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
	
	#img24 img:hover {
		-moz-transform: rotateX(360deg); 
		-webkit-transform: rotateX(360deg); 
		-o-transform: rotateX(360deg); 
		-ms-transform: rotateX(360deg); 
		transform: rotateX(360deg); 
		-moz-transform-origin: left;	
		-webkit-transform-origin: left;	
		-o-transform-origin: left;	
		-ms-transform-origin: left;	
		transform-origin: left;	
	}
	
	#img26 img:hover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	
	#img27 img:hover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	
	#img28 img:hover {
		-moz-transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
		-moz-transform-origin: bottom;	
		-webkit-transform-origin: bottom;	
		-o-transform-origin: bottom;	
		-ms-transform-origin: bottom;	
		 transform-origin: bottom;	
	}
	
	#img29 img:hover {
		-moz-transform: translate(0px,-30px);
		-webkit-transform: translate(0px,-30px);
		-o-transform: translate(0px,-30px);
		-ms-transform: translate(0px,-30px);
		transform: translate(0px,-30px);
	}
	
	#img33 img:hover {
		-moz-transform: skew(45deg, 45deg);
		-webkit-transform: skew(45deg, 45deg);
		-o-transform: skew(45deg, 45deg);
		-ms-transform: skew(45deg, 45deg);

		transform: skew(45deg, 45deg);
	}
	
	#img34 img:hover {
		opacity:0.1;
	}
	
	#img35 img:hover {
		-moz-transform: rotateX(360deg); 
		-webkit-transform: rotateX(360deg); 
		-o-transform: rotateX(360deg); 
		-ms-transform: rotateX(360deg); 
		transform: rotateX(360deg); 
		-moz-transform-origin: left;	
		-webkit-transform-origin: left;	
		-o-transform-origin: left;	
		-ms-transform-origin: left;	

		
		
	}
	
	#img36 img:hover {
		-moz-transform: rotateX(360deg); 
		-webkit-transform: rotateX(360deg); 
		-o-transform: rotateX(360deg); 
		-ms-transform: rotateX(360deg); 
		transform: rotateX(360deg); 
		-moz-transform-origin: left;	
		-webkit-transform-origin: left;	
		-o-transform-origin: left;	
		-ms-transform-origin: left;	
	}
	
	#img37 img:hover {
		
		opacity:0.1;
		-moz-transform: scale(0.5,0.5);
		-webkit-transform: scale(0.5,0.5);
		-o-transform: scale(0.5,0.5);
		-ms-transform: scale(0.5,0.5);
		transform: scale(0.5,0.5);

	}